

.boxListWrap{    
    // height: calc(100vh - 187px);
    @include scroll_0;    
    & + .listBottom{
        padding: rem(40) 0;
        background: $white;
    }
}

.boxTop{
    text-align: right;
    button, .button{
        font-weight: 700;
    }
}

.boxWrap{
    background: $white;
    border-radius: rem(7);
    border: 1px solid $layoutColor;
    //220829
    font-size: rem(14);
    //220829
    &.headType{
        .head,
        .bottom{
            align-items: center;
            @include sideArray; 
        }
        .head{
            //220829
            // padding-bottom: rem(20);
            padding-bottom: rem(15);
            //220829
            position: relative;
            &::after{
                content:'';
                //220829
                // width: calc(100% + 80px);
                width: calc(100% + 60px);
                //220829
                height: 1px;
                background: $layoutColor;
                position: absolute;
                left: -30px;
                bottom: 0;
            }
            .prefix{
                font-weight: 500;
            }           
            .suffix{
                color: $subInfo;
                font-size: rem(14);
                span{
                    &:nth-child(2){
                        margin-left: rem(10);
                        position: relative;
                        &::before{
                            content:'';
                            width: 1px;
                            height: rem(14);
                            background: $subInfo;
                            position: absolute;
                            top:50%;
                            left: -4px;
                            transform: translateY(-40%);
                        }
                    }
                }
            }
        }
        .cont{
            //220829
            // margin: rem(30) 0;
            margin-top: rem(20);
            //220829
            position: relative;
            // .flexCenter{
            //     margin: rem(50) 0 rem(30);
            //     flex-wrap:wrap;
            //     li{
            //         width: 20%;
            //         min-width: rem(104);
            //         height: rem(90);
            //         margin-left: -1px;
            //         padding: rem(20) 0;
            //         border: 1px solid $layoutColor;
            //         //border-left: 0;
            //         text-align: center;
            //         @include heightArray;
            //         cursor: pointer;
            //         // &:nth-child(5){
            //         //     border-right:0;
            //         // }
            //         &.is-active{
            //             color: $white;
            //             font-weight: 700;
            //             background: $mainColor;
            //             border: 1px solid $mainColor;
            //         }
            //     }
            // }
        }
        .bottom{
            .prefix{
                color: $subInfo;
            }
        }
    }
}


.boxList{
    background: $white;
    border-radius: rem(5);
    //220829
    font-size: rem(14);
    //220829
    .head,
    .bottom{
        font-weight: 500;
        align-items: center;
        @include sideArray; 
    }
    .cont{
        //220829
        // margin-top: rem(10);
        margin-top: rem(16);
        //220829
        position: relative;
    }
    button{
        &.white{
            border: 1px solid $btnGray;
        }
    }
    &.listType{
        margin-bottom: 1px;
        //220829
        // padding: rem(22);
        padding: rem(16);
        //220829
        border-radius: 0;
        .cont{       
            .prefix{
                width: 70%;            
                @include ellipsis-double;
            }
            .suffix{
                position: absolute;
                right: 0;
                bottom: 0;
            }  
        }
        &.is-active{
            border: 1px solid $mainColor;
        }
    }
    &.flexType{
        margin-top: rem(20);
        //220829
        // padding: rem(25) rem(30);
        padding: rem(20) rem(25);
        //220829
        border:1px solid $layoutColor;
        @include sideArray;
        &:first-child{
            margin-top:0;
        }
        .prefix{
            //220829
            // width: rem(160);
            width: rem(140);
            //220829
            li{
                margin-top: rem(14);
                &:first-child{
                    margin-top: 0;
                }
                span{
                    &:first-child{
                        font-weight: 700;
                        margin-right: rem(10);
                    }
                }
            }
        }        
        .center{
            //margin-left: rem(30);
            //220829
            // width: calc(100% - 340px);
            // padding: rem(6) rem(30);
            width: calc(100% - 300px);
            padding: rem(6) rem(20);
            //220829
            border-left: 1px solid $jobLayout;
            border-right: 1px solid $jobLayout;
            .head{
                .prefix{
                    @include ellipsis;
                    //220829
                    // font-size: rem(20);
                    font-size: rem(18);
                    //220829
                    font-weight: 700;
                }
                .suffix{
                    width: auto;
                    font-weight: 500;
                }
            }
            .cont{
                //220829
                // margin-top: rem(24);
                margin-top: rem(16);
                //220829
                li{
                    margin-right: rem(10);
                    color: $subInfo;
                }
            }
            .bottom{
                align-items: end;
                //margin-top: rem(6);
                color: $titleGray;
                .prefix{
                    width:auto;
                    span{
                        margin-right: rem(24);
                    }
                }
            }
        }    
        .suffix{
            //220829
            // width: rem(160);
            width: rem(140);
            //220829
            //@include heightArray;
            text-align: center;
            color: $subInfo;
            position: relative;
            > .showMore{
                position: absolute;
                right: 0;
                //220829
                // top: -45px;
                top: -27px;
                //220829
            }
            .square{
                position: absolute;
                //220829
                // top: rem(35);
                // right: -60px;
                top: rem(28);
                right: -56px;
                //220829
            }
            .info{
                color:$subInfo;
                margin-bottom: rem(10);
            }
            .txtCenter{
                .select{
                    margin: 10px auto;
                }
            }
        }
    }
    &.headType{
        margin-top: rem(20);
        .head{
            color: $disable;
            background: $memLayout;
            border-radius: rem(5) rem(5) 0 0;
            //220829    
            // padding: rem(5) rem(20);
            padding: rem(5) rem(14);
            //220829    
            .prefix{
                font-weight: 400; 
            }
        }
        .cont{       
            margin-top: 0;
            // padding: rem(20);
            border-radius:0 0 rem(5) rem(5);
            border:1px solid $layoutColor;
            border-top:0;
            @include sideArray;
            //220829    
            font-size: rem(14);
            padding: rem(14);
            //220829        
            .prefix{
                //width: 58%;
                //220829    
                // width: 57%;
                width: 63%;
                //220829    
                color: $subInfo; 
                ul{
                    width: 96%;
                }
                span{
                    margin-right: rem(10);
                }
                .memName{
                    color: $black;
                    font-weight: 700;
                    .photo{
                        width: rem(40);
                        height: rem(40);
                        border-radius: rem(12);
                        vertical-align: middle;
                        margin-right: rem(10);
                    }
                }
                .memSkill{
                    @include ellipsis;
                }
                .memPay{
                    color: $black;
                    font-weight: 500;
                }
                .memCareer{
                    color: $highlight;
                }
                .memMemo{
                    margin-top: rem(10);
                    padding: rem(5) rem(8);
                    background: $bgColor;
                    color: $subInfo;
                    @include ellipsis;
                    b{
                        color: $black;
                    }
                }
            }   
            .center,
            .suffix{
                text-align: center;
                font-size: rem(14);
                @include heightArray;
                button{
                    font-size: rem(14);
                }
            }
            .center{
                //220829    
                // margin-left: rem(30);
                // padding: 0 rem(17);
                margin-left: 0;
                padding: 0 rem(14);
                //220829    
                font-weight: 500;
                position: relative;
                &::before{
                    content:'';
                    width: 1px;
                    //220829    
                    // height: rem(106);
                    height: rem(90);
                    //220829    
                    background: $layoutColor;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .suffix{
                width: rem(80);
                color: $disable;
                &.clear{
                    color: $mainColor;
                }
                
            }
        }
        textarea, input[type=text]{
            margin-top: rem(5);
            padding: rem(7);
        }
        &.is-active{
            .head{
                color: $white;
                background: $mainColor;
            }
            .cont{       
                border:1px solid $mainColor;
            }
        }
    }
}






// .boxWrap,
// .boxList{
//     background: $white;
//     border-radius: rem(5);
//     border:1px solid $layoutColor;
//     // &.is-active{
//     //     border:1px solid $mainColor;
//     // }
//     .head{
//         align-items: center;
//         @include sideArray;      
//     }
//     .title{
//         @include ellipsis;
//         color: $black;
//         font-size: rem(20);
//         font-weight: 700;
//     }
//     .cont{
//         li{
//             &:last-child{
//                 color: $highlight;
//             }
//         }
//     }
//     .bottom{
//         @include sideArray;
//         align-items: center;
//         .prefix{
//             color: $subInfo;
//         }
//         .button{
//             font-weight: 700;
//         }  
//     }
//     &.divideType{
//         .head{
//             border-bottom: 1px solid $layoutColor;
//         }
//     }
//     &.borderType{
//         &.is-active{
//             border: 1px solid #0460d2;
//         }
//     }
// }
// .boxList{
//     cursor: pointer;
// }


// .boxListWrap{    
//     height: calc(100vh - 187px);
//     @include scroll_0;
//     .boxList{
//         padding: rem(20);
//         margin-bottom: rem(1);
//         border-radius: 0;
//         border:0;
//         .cont{
//             margin-top: rem(10);
//             position: relative;
//             .prefix{
//                 width: 78%;
//                 @include ellipsis-double;
//             }
//             .suffix{
//                 color: $subInfo;
//                 font-size: rem(14);
//                 position: absolute;
//                 right: 0;
//                 bottom: rem(3);
//             }   
//         }
//     }
//     & + .listBottom{
//         padding: rem(40) 0;
//         background: $white;
//     }
// }

