.condition{
    margin-top: rem(30);
    .condiTit{
        display: block;
        margin-bottom: rem(9);
        font-size: rem(14);
        font-weight: 400;
        color: $condiGray;
    }
    > ul{
        display: flex;
        flex-wrap: wrap;
        li{
            display: inline-block;
            margin-right: rem(10);
            input{                
                width: rem(400);
            }

            //select, input 너비, 높이 등을 기본값으로할건지???
        }
    }
}

.contLayout{
    &.is-active{
        .condition{
            li{
                margin-bottom: rem(10);
            }
        }
    }
}