.defaultBox{
    //220829
    // width: rem(400);
    // height: rem(200);
    // padding: rem(44) 0;
    width: rem(360);
    padding: rem(32) 0;
    //220829
    text-align: center;
    background: $white;
    border-radius: rem(5);
    border:1px solid $layoutColor;
    img{
        width: rem(40);
        border-radius: rem(13);
        margin-bottom: rem(16);
    }
    .notify{
        font-weight: 700;
        margin-bottom: rem(8);
    }
}

.nodata{
    //width: 100%;
    height: auto;
    color: $disable;
    @include heightArray;
}
.yScroll{
    .nodata{
        height: 100%;
    }
}