.paging{
    text-align: center;
    li{
        display: inline-block;
        vertical-align: middle;
        //220829    
        // margin: 0 rem(10);
        margin: 0 rem(6);
        //220829    
        color: $subInfo;
        cursor: pointer;
        a{
            color : $disable;
        }
        &.pagingDouble{
            margin: 0;
        }
        &.is-active{
            color: $black;
            font-weight: 700;
        }
    }
}