<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
    <section class="wrapper center">    
        <section class="login">
            <div class="tit">
                <h1>Log in</h1>
                <span>JOBJOB Management System</span>
            </div>            

            <div class="loginBox">
                <input class="full" type="text" id="userId" class="" maxlength="" placeholder="아이디"> 
                <input class="full" type="password" id="userPw" maxlength="" placeholder="비밀번호">   

                <input type="checkbox" class="chkCustom hasTxt" id="saveId" name="saveId">
                <label for="saveId">아이디저장</label>
                
                <button class="fullSize">로그인</button>
            </div>

            <div class="subLogin">
                <ul>
                    <li><a href="#" target="_blank">아이디 찾기</a></li>
                    <li><a href="#" target="_blank">비밀번호 찾기</a></li>
                    <li><a href="#" target="_blank">가입신청</a></li>
                </ul>
            </div>             

            <footer>
                <p>본 시스템의 불법적인 접근 및 사용 시 관련 법규에 의해 처벌될 수 있습니다. 시스템 문의 : {홍길동} {010-111-1111}</p>
                <p>@ 2022 by ECHOIT. All rights reserved.</p>
            </footer>
        </section>            
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>