<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>modal</title>

    <link rel="stylesheet" href="../assets/css/style.css">    
</head>

<body>
    <!--레이어팝업-->
    <a href="#layer01" class="layerOpen">팝업오픈 버튼(메일/문자보내기)</a>

    <div id="layer01" class="modalLayer center">
        <div class="layerBox">
            <div class="modalHeader">
                <button class="ico layerClose"></button>
            </div>
            <div class="modalCont">
                <div class="tabWrapper">
                    <ul class="tabBtnWrap btnType wideType">
                        <li class="tabBtn">
                            <a href="#offer_message" class="is-active">문자</a>
                        </li>
                        <li class="tabBtn">
                            <a href="#offer_mail">메일</a>
                        </li>
                    </ul>
                    <div class="tabContWrap">
                        <div id="offer_message" class="tabCont is-active">

                            <div class="inputList">   
                                <ul>
                                    <li>
                                        <label class="need" for="receiver">받는 사람</label>
                                        <div class="inputGroup">
                                            <div class="inputObj">
                                                <span>박예슬 (010-000-0000)</span>
                                                <button class="ico smClose w"></button>
                                            </div>
                                            <div class="inputObj is-active">
                                                <input type="text">
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <label for="receiver">첨부파일</label>

                                        <div class="uploadBox">
                                            <div class="inputGroup upload">
                                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                                <div class="list">
                                                    <ul class="list_ul"></ul>
                                                </div>
                                            </div>
                                        
                                            <label for="cycleDocument" class="">또는 직접선택</label>
                                            <input type="file" name="cycleDocument" id="cycleDocument" class="" tabindex="" />
                                        </div>

                                        <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p> 
                                    </li>
                                    <li>
                                        <textarea name="" id="" rows="13"></textarea>
                                        <p class="counter">글자 수 50자</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="offer_mail" class="tabCont">
                            <div class="inputList">   
                                <ul>
                                    <li>
                                        <label class="need" for="receiver">받는 사람</label>
                                        <div class="inputGroup">
                                            <div class="inputObj">
                                                <span>박예슬 (010-111-1111)</span>
                                                <button class="ico smClose w"></button>
                                            </div>
                                            <div class="inputObj is-active">
                                                <input type="text">
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <label for="receiver">첨부파일222</label>

                                        <div class="uploadBox">
                                            <div class="inputGroup upload">
                                                <div class="drop">여기에 첨부 파일을 끌어오세요.</div>
                                                <div class="list">
                                                    <ul class="list_ul"></ul>
                                                </div>
                                            </div>
                                        
                                            <label for="cycleDocument" class="">또는 직접선택</label>
                                            <input type="file" name="cycleDocument" id="cycleDocument" class="" tabindex="" />
                                        </div>

                                        <p class="error is-active">jpg, jpeg 이미지만 첨부할 수 있습니다.</p> 
                                    </li>
                                    <li>
                                        <textarea name="" id="" rows="13"></textarea>
                                        <p class="counter">글자 수 50자</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                    <button class="fullSize white prefix">닫기</button>
                    <button class="fullSize suffix">문자보내기</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업-->

    <br>

    
    <!--레이어팝업 - 컨펌-->
    <a href="#layer02" class="layerOpen">컨펌팝업오픈(버튼 하나)</a>

    <div id="layer02" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalHeader"><h3>안내사항</h3></div>
            <div class="modalCont">
                지원접수 및 투입이력은 회원개인 정보와 연동됩니다. 따라서 관리자 직접 추가 시 삭제가 불가합니다.
            </div>
            <div class="modalFooter">
                <button class="fullSize layerClose">취소</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업 - 컨펌-->


    <br>


    <!--레이어팝업 - 컨펌-->
    <a href="#layer03" class="layerOpen">컨펌팝업오픈(버튼 둘)</a>

    <div id="layer03" class="modalLayer center">
        <div class="layerBox confirmType">
            <div class="modalCont center">메모를 삭제하시겠습니까?</div>
            <div class="modalFooter halfType">
                <button class="fullSize white prefix layerClose">취소</button>
                <button class="fullSize suffix layerClose">확인</button>
            </div>
        </div>        
        <div class="layerDim"></div>    
    </div>
    <!--//레이어팝업 - 컨펌-->


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>