<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layerP/tab</title>

    <link rel="stylesheet" href="../assets/css/style.css">
    
</head>
<body>

    <!--탭-->
    <div class="tabWrapper" id="tab01">
        <ul class="tabBtnWrap">
            <li class="tabBtn">
                <a href="#tab-1" class="is-active">menu1</a>
            </li>
            <li class="tabBtn">
                <a href="#tab-2">menu2</a>
            </li>
            <li class="tabBtn">
                <a href="#tab-3">menu3</a>
            </li>
        </ul>
        <div class="tabContWrap">
            <div id="tab-1" class="tabCont is-active">aaa</div>
            <div id="tab-2" class="tabCont">bbb</div>
            <div id="tab-3" class="tabCont">ccc</div>
        </div>
    </div>

    <div class="tabWrapper" id="tab02">
        <ul class="tabBtnWrap">
            <li class="tabBtn">
                <a href="#bbb-1" class="is-active">menu1</a>
            </li>
            <li class="tabBtn">
                <a href="#bbb-2">menu2</a>
            </li>
            <li class="tabBtn">
                <a href="#bbb-3">menu3</a>
            </li>
        </ul>
        <div class="tabContWrap">
            <div id="bbb-1" class="tabCont is-active">aaa</div>
            <div id="bbb-2" class="tabCont">bbb</div>
            <div id="bbb-3" class="tabCont">ccc</div>
        </div>
    </div>
    <!--//탭-->

    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>